<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Good Thymes Virtual Grocery</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../views/style.css" th:href="@{/views/style.css}" />
</head>

<body>
	<div id="menu">
		<div id="menu2">
			<input class="active" id="home" type="button" value="Home"
				onClick="location.href='/Auto/home.html'" /> <input id="carWashers"
				type="button" value="Myjnie"
				onClick="location.href='/Auto/views/carWashersInfo.html'" /> <input
				id="manager" type="button" value="Zarzadzanie serwerem"
				onClick="location.href='/Auto/views/manager.html'" /> <input
				id="userList" type="button" value="Uzytkownicy"
				onClick="location.href='/Auto/views/usersTable.html'" />
		</div>
	</div>
	<!-- menu -->
	<!-- menu2 -->
</body>

</html>