<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="jquery-1.11.1.min.js"></script>
<script src="../controllers/workingTimeController.js"></script>

</head>
<body>

<input id="refresh" type="button"  value="Odśwież listę"/>
<input id="btnBackToMain" type="button"  value="Wroć" onClick="location.href='/Auto/home.html'"/>
</br></br>

<table style="width:1600 px">
<tr>
	<td>ID</td>
	<td>Sekundy pr 1</td>
	<td>Sekundy pr 2</td>
	<td>Sekundy pr 3</td>
	<td>Sekundy pr 4</td>
	<td>Sekundy pr 5</td>
</tr>
</table> 

</body>
</html>